<!-- Footer-->
<section>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
            <div class="box">
                <figure>
                    <a routerLink="/home">
                        <img src="../../../../assets/images/Logo_fondo_negro.png">
                    </a>
                </figure>
            </div>
            <div class="box">
                <a class="hyper" href="#">Terminos de Uso</a><br>
                <a class="hyper" href="#">Politicas de Privacidad</a>
            </div>
        </div>

        <div class="grupo-2">
            <small>&copy; 2021 <strong><a class ="hyper" routerLink="/home">Tutribu.com</a></strong> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</section>
<!--
<footer>
<div class="group-1">
    <div>
        <h2>SIGUENOS</h2>
        <div>
            <a href="#">F</a>
            <a href="#">I</a>
            <a href="#">t</a>
            <a href="#">Y</a>
        </div>
    </div>
    <div>
        <a routerLink="/home">
            <figure>
                <img src=" ./../../../../assets/images/Logo_fondo_negro.png " alt=" ">
            </figure>
        </a>
    </div>
    <div>
        <a href="/terms">Terminos de Uso</a><br>
        <a href="">Politicas de Privacidad</a>
    </div>
</div>
<div class="group-2">
    <small>
          © 2021 <strong><a routerLink="/home">TuTribu.com</a></strong> - Todos los Derechos Reservados.
        </small>
</div>
</footer>
-->
