.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.main-content {
    flex-basis: 47%;
}

.right-sidebar {
    color: #626262;
}

.marketplace-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto1 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0)), url(./../../../../assets/Imagenes/color-esperanza.jpg);
}

.producto2 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0)), url(./../../../../assets/Imagenes/chaleco.jpg);
}

.producto3 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.1)), url(./../../../../assets/Imagenes/collar.jpg);
}

.producto4 {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3)), url(./../../../../assets/Imagenes/dog-father.jpg);
}

.gallery {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.gallery img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: -15px;
    left: -10px;
    border: 2px solid #f1bc5e;
}

.gallery p {
    position: absolute;
    top: 23px;
    width: 100%;
    text-align: center;
    color: #525252;
    font-size: 14px;
}

.write-post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    font-size: 13px;
    color: #9a9a9a;
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: 0px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links img {
    width: 20px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.post-container p {
    font-size: 13px;
    margin-top: 15px;
}

.hashtag a {
    color: #f1bc5e;
    text-decoration: none;
}

.post-img {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post-raw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.activity-icons div img {
    width: 18;
    margin-right: 10px;
}

.post-profile-icon {
    display: flex;
    align-items: center;
}

.post-profile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Inicio Estilos botón Share*/
.content {
    padding: 7px 10px;
    font-family: "Roboto", sans-serif;
    
  }

  .content p {
    line-height: 1.9;
  }
  .content img {
    max-height: 500px;
    
  }
  .share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 16px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 120%;
    transform: translateY(-50%);
  }
  .share-btn-container a i {
    font-size: 32px;
  }

  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
  }
  .share-btn-container a:hover {
    transform: scale(1.2);
  }
  .share-btn-container .fa-facebook {
    color: #3b5998;
  }
  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }
  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }
  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }
  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }
  /* Media Queries */
  
  @media (max-width: 550px) {
    .content {
      padding: 8px 32px;
      
    }
    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px 0;
        justify-content: center;
      }
    
      .share-btn-container a {
        margin: 0 50px ;
      }
    }
    .figure {
        justify-content: center;
    }
    .container2 {
        display: grid;
        justify-content: center;
        align-items: center;
        height: -2vh;
        
    }
    .btn {
        background-color: rgb(44, 48, 44);
        padding: 10em 4.5em;
        border-radius: 1rem;
      }
      .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
      }
      .modal-window:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
      .modal-window  > div {
        width: 260px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
         padding: 2em;
         background: #fff;
         -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
      }
      .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
      }
      .modal-window div:not(:last-of-type) {
        margin-bottom: 8px;
      }
      small {
        color: rgb(87, 82, 82);
      }
      
      .fa-share-alt {
        color: rgb(199, 192, 192);
      }
      
/*Fin de configuración botón Share */

    