<div class="container">

    <div class="left-sidebar">
        <app-options></app-options>
    </div>

    <div class="main-content">

        <app-brands></app-brands>

        <div class="write-post-container">
            <div class="user-profile">
                <img src="./../../../../assets/Imagenes/carolina.jpg" alt="">
                <div>
                    <p>Carolina Bustos Caceres</p>
                    <small>Bogotá <fa-icon [icon]="faCaretDown"></fa-icon></small>
                </div>
            </div>

            <div class="post-input-container">
                <div class="event-details">
                    <p>Titulo del evento</p>
                </div>

                <textarea rows="3" placeholder="Crea un evento"></textarea>

                <div class="add-post-links">
                    <a href="#"><img src="./../../../../assets/Imagenes/yes.png" alt=""> Voy</a>
                    <a href="#"><img src="./../../../../assets/Imagenes/maybe.png" alt=""> De pronto</a>
                    <a href="#"><img src="./../../../../assets/Imagenes/no.png" alt=""> No puedo</a>
                </div>

            </div>

            <app-post></app-post>

        </div>
    </div>
    <div class="right-sidebar">
        <app-summary></app-summary>
    </div>
</div>
