<nav>
    <div class="nav-left">
        <a routerLink="/home"><img src="./../../../../assets/Imagenes/Logo_fondo_negro.png" class="logo" alt=""></a>
        <ul>
            <li><img src="./../../../../assets/Imagenes/notificaciones.png" alt=""></li>
            <li><img src="./../../../../assets/Imagenes/mensajes-blancos.png" alt=""></li>
            <li><img src="./../../../../assets/Imagenes/inbox.png" alt=""></li>
        </ul>

    </div>
    <div class="nav-right">

        <div class="search-box">
            <img src="./../../../../assets/Imagenes/search.png" alt="">
            <input type="text" placeholder="Search">
        </div>

        <div class="nav-user-icon online">
            <img src="./../../../../assets/Imagenes/carolina.jpg" alt="">
        </div>

    </div>
</nav>