<nav>
    <div class="nav-left">
        <img src="./../../../../assets/logo2.jpg" class="logo" alt="">
        <ul>
            <li><em class="far fa-bell"></em></li>
            <li><em class="fas fa-inbox"></em></li>
            <li><em class="fas fa-inbox"></em></li>
        </ul>

    </div>
    <div class="nav-right">

        <div class="search-box">
            <!-- llama la imagen de fontawesome en linea-->
            <em class="fas fa-search"></em>
            <input type="text" placeholder="Search">
        </div>

        <div class="nav-user-icon online">
            <img src="./../../../../assets/Imagenes/carolina.jpg" alt="">
        </div>

    </div>
</nav>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="">
    <div class="container px-4 px-lg-5">
        <!-- <a class="navbar-brand" href="#!">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
    class="navbar-toggler-icon"></span></button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/home">Inicio</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/marketplace/bicirunners">Bicirunners</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Muppies</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Anilovers</a></li>
            </ul>

            <!-- boton carrito -->
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                <em class="bi-cart-fill me-1"></em>
                Carrito
                 <!-- valor total del carrito -->
                <span class="badge bg-dark text-black ms-1 rounded-pill">5.000</span>
            </button>
            </form>

        </div>
    </div>
</nav>


<!-- Header-->
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">MARKETPLACE</h1>
            <p class="lead fw-normal text-black-50 mb-0">BICIRUNNERS</p>
        </div>
    </div>
</header>
