* {
    margin: 0;
    padding: 0;
    font-family: 'Spartan';
    font-size: large;
}

body {
    background: rgb(255, 255, 255);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    padding: 0rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 400px;
}

.nav_left {
    display: flex;
    align-items: left;
    padding-left: 4rem;
}

.Login img {
    width: 130px;
    border-radius: 50%;
    cursor: pointer;
}

.Login {
    display: flex;
    align-items: right;
    padding-right: 4rem;
}

button {
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 15px;
    border-width: 0;
    padding-left: 3rem;
}

button:hover {
    background-color: rgb(240, 188, 94);
}

.tBoton {
    padding-right: 2rem;
}


/*
.sup-bar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    position: sticky;
    margin-left: 10vw;
    ul {
        display: flex;
        li {
            list-style: none;
            a {
                text-decoration: none;
                padding-right: 1rem;
            }
        }
    }
    .login {
        position: absolute;
        right: 10vw;
        align-items: center;
        justify-content: center;
    }
}
*/
