<div class="post-container">
    <div class="user-profile">
        <img src="./../../../../assets/Imagenes/sonia.jpg" alt="">
        <div>
            <p>Sonia</p>
            <span>Octubre 15 2021, 2:00 pm</span>
        </div>
    </div>

    <p class="hashtag">Que restaurante petfriendly me recomiendan para ir hoy a almorzar? Quien se une? <a href="#">#VamosTodos</a></p>

    <img src="./../../../../assets/Imagenes/dogs-welcome.jpg" class="post-img" alt="">

    <div class="post-raw">
        <div class="activity-icons">
            <div><img src="./../../../../assets/Imagenes/like_.png" alt=""> 120</div>
            <div><img src="./../../../../assets/Imagenes/reply_.png" alt=""> 45</div>
            <div><img src="./../../../../assets/Imagenes/save_.png" alt=""> 20</div>
        </div>
        <div class="post-profile-icon">
            <img src="./../../../../assets/Imagenes/carolina.jpg" alt="">
        </div>
    </div>
</div>

<div class="post-container">

    <div class="user-profile">
        <img src="./../../../../assets/Imagenes/gio.jpg" alt="">
        <div>
            <p>Giovannotto</p>
            <span>Octubre 15 2021, 2:15 pm</span>
        </div>

    </div>
    <p class="hashtag">Tribanos, mi esposa tiene cachorro nuevo y busco un buen veterinario para Abril. Cual si, cual no y por que? <a href="#">#SOS</a></p>
    <img src="./../../../../assets/Imagenes/cachorro.jpg" class="post-img" alt="">

    <div class="post-raw">
        <div class="activity-icons">
            <div><img src="./../../../../assets/Imagenes/like_.png" alt=""> 120</div>
            <div><img src="./../../../../assets/Imagenes/reply_.png" alt=""> 45</div>
            <div><img src="./../../../../assets/Imagenes/save_.png" alt=""> 20</div>

        </div>
        <div class="post-profile-icon">
            <img src="./../../../../assets/Imagenes/carolina.jpg" alt="">

        </div>
    </div>

</div>
