<section class="gif_1">
    <p style="padding-bottom: 35rem">
    </p>
    <!--        <IMG class="gif" SRC ="GIF/Banner_movil.gif" style="size:10px">-->
</section>

<br>
<br>
<br>

<section>
    <div align="center">
        <h1 class="Tit2">Conoce</h1>
        <h1 class="Tit1">tutribu.com</h1>
    </div>
</section>
<br>
<br>
<br>
<br>

<h2 class="conoce" align="center">Los medios de comunicación masivos facilitaron la eliminación de las barreras físicas en las influencias culturales a nivel mundial y este hecho fomentó la convivencia cultural entre personas con afinidades diversas.</h2>
<br>
<br>
<h2 class="conoce" align="center">Pero al mundo le hacía falta una red social que les permitiera agruparse, conocerse, reunirse y encontrar artículos de su interés. </h2>
<br>
<br>

<div align="center">
    <h1 class="Tit1">¡por eso nacimos!</h1>
</div>
<br>
<br>

<h2 class="conoce" align="center">Para darte a tí y al mundo la posibilidad de:</h2>
<section class="gif_2" align="center">
    <p style="padding-top: 40rem">
    </p>
</section>
<section>
    <h2 class="conoce">Conoce las tribus:</h2>
</section>
<br>
<br>
<br>
<br>

<!--
<section>
    <div class="tBoton_info" padding-right: 5px> -->
<button>
          <p class="tBoton">
            <img src = "./../../../../assets/images/anilovers.png"></p></button>

<button>
          <p class="tBoton">
            <img src = "./../../../../assets/images/bicirunners.png"></p></button>
<button>
          <p class="tBoton">
            <img src = "./../../../../assets/images/muppies.png"></p></button>
<button>
          <p class="tBoton">
            <img src = "./../../../../assets/images/tribufit.png"></p></button>
<button>
          <p class="tBoton">
            <img src = "./../../../../assets/images/travellers.png"></p></button>
<!--
</div>
</section>
-->



<!--
<h1 class="Tit2">Conoce</h1>
<h1 class="Tit1">TuTrubu.com.co</h1>
<h2 class="conoce">Los medios de comunicación masivos facilitaron la eliminación de las barreras físicas en las influencias culturales a nivel mundial y este hecho fomentó la convivencia cultural entre personas con afinidades diversas.</h2>
<h2 class="conoce">Pero al mundo le hacía falta una red social que les permitiera agruparse, conocerse, reunirse y encontrar artículos de su interés.</h2>
<h1 class="Tit1">¡por eso nacimos!</h1>
<h2 class="conoce">Para darte a tí y al mundo la posibilidad de:</h2>
<picture>
    <img src="./../../../../assets/gifs/Opciones.gif" alt="Opciones">
</picture>
<h2 class="conoce">Conoce las tribus:</h2>
-->
