* {
    margin: 0;
    padding: 0;
    font-family: 'Chewy', 'Spartan';
    font-size: medium;
}

body {
    background: rgb(255, 255, 255);
}

button {
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 15px;
    border-width: 0;
    padding-left: 3rem;
}

button:hover {
    background-color: rgb(240, 188, 94);
}

.tBoton {
    padding-right: 2rem;
}

.tBoton_info {
    padding-left: 0rem;
}

.Tit1 {
    color: rgb(84, 84, 84);
    font-size: 80px;
    font-family: Chewy;
}

.Tit2 {
    color: #000000;
    font-size: 80px;
    font-family: Spartan;
}

.gif_1 {
    background-image: url(./../../../../assets/gifs/Banner_movil.gif);
    background-size: 100% 100%;
}

.gif_2 {
    background-image: url(./../../../../assets/gifs/Opciones.gif);
    background-size: 100% 100%;
}

.conoce {
    color: #000000;
    font-size: 30px;
    font-family: Spartan;
    margin-right: 10rem;
    margin-left: 10rem;
    align-content: center;
}


/*:host {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 8rem;
    text-align: center;
}

.Tit1 {
    font-family: 'Chewy', cursive;
    color: rgb(84, 84, 84);
}

.Tit2 {
    font-family: 'Spartan', sans-serif;
    color: #000;
}

.conoce {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 3rem;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
}

picture {
    margin: 0 5vw;
    align-items: center;
    img {
        width: 90vw;
    }
}*/
