@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.hyper{
    text-decoration: none;
    color: #fff;
    text-align: left;
   
    
    /*background: #efefef;*/
}

.hyper:hover{
    color: #92918e;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #545454;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
text-align: center;    
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*tamaño del logo */
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
/*tamaño dela parte redes */
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-align: center;
}
/*color del icono de red social*/
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #242526;
    text-align: center;
    transition: all 300ms ease;
}
/*color del boton redes al pasar el mouse */
.pie-pagina .grupo-1 .red-social a:hover{
    color: #F0BC5E;
}
/*borde copyright */
.pie-pagina .grupo-2{
    background-color: #242526;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
/*letra copyright*/
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}