<div class="sidebar-title">
    <h4>Eventos</h4>
    <a href="#">Ver todo</a>
</div>


<div class="event">

    <div class="left-event">
        <h3>18</h3>
        <span>Octubre</span>
    </div>

    <div class="right-event">
        <h4>Cuatro patas al parque</h4>
        <p>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Parque el Virrey</p>
        <a href="#">Mas info</a>
    </div>

</div>

<div class="event">

    <div class="left-event">
        <h3>8</h3>
        <span>Diciembre</span>
    </div>

    <div class="right-event">
        <h4>Adoptaton</h4>
        <p>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Colegio Rochester</p>
        <a href="#">Mas info</a>

    </div>

</div>

<div class="sidebar-title">
    <h4>Nota de interes</h4>
    <a href="#">Ver mas</a>
</div>

<!--
<img src="Imagenes/perroticia.jpg" class="sidebar-ads">
-->

<div class="sidebar-title">
    <h4>Conversaciones</h4>
    <a href="#">Ver todas</a>
</div>

<div class="online-list">
    <div class="online">
        <img src="./../../../../assets/Imagenes/sonia.jpg" alt="">
    </div>
    <p>Sonia Moreno Roncancio</p>
</div>

<div class="online-list">
    <div class="online">
        <img src="./../../../../assets/Imagenes/gio.jpg" alt="">
    </div>
    <p>Giovanny Guzman Ramirez</p>
</div>

<div class="online-list">
    <div class="online">
        <img src="./../../../../assets/Imagenes/hector.jpg" alt="">
    </div>
    <p>Hector Eduardo Astudillo</p>
</div>