<div class="marketplace-gallery">
    <div class="gallery producto1">
        <img src="./../../../../assets/Imagenes/sello.png" alt="">
        <p>Hechos por madres cabeza de familia</p>
    </div>
    <div class="gallery producto2">
        <img src="./../../../../assets/Imagenes/sello.png" alt="">
        <p>Fundación</p>
    </div>
    <div class="gallery producto3">
        <img src="./../../../../assets/Imagenes/sello.png" alt="">
        <!-- <p>Hecho por madres cabeza de familia</p> -->
    </div>
    <div class="gallery producto4">
        <img src="./../../../../assets/Imagenes/sello.png">
        <!-- <p>Materiales ecologicos</p> -->
    </div>
</div>
