<div class="imp-links">
    <a href="#"><img src="./../../../../assets/Imagenes/noticias.png" alt=""> Ultimas noticias</a>
    <a href="#"><img src="./../../../../assets/Imagenes/dondehuella-2.png" alt=""> En tu zona</a>
    <a href="#"><img src="./../../../../assets/Imagenes/amigos.png" alt=""> Amigos</a>
    <a href="#"><img src="./../../../../assets/Imagenes/mensajes.png" alt=""> Mensajes</a>
    <a routerLink="marketplace"><img src="./../../../../assets/Imagenes/market-amarillo.png" alt=""> Marketplace</a>
    <a href="#"> Ver mas</a>
</div>

<div class="shortcuts-links">
    <p> Tus atajos </p>
    <a href="#"><img src="./../../../../assets/Imagenes/posts-guardados.png" alt=""> Posts importantes</a>
    <a href="#"><img src="./../../../../assets/Imagenes/mis-eventos.png" alt=""> Mis eventos</a>
    <a href="#"><img src="./../../../../assets/Imagenes/recomendacion.png" alt=""> Recomendaciones</a>
    <a href="#"><img src="./../../../../assets/Imagenes/cambiar-ubicacion.png" alt=""> Cambiar ubicacion</a>
</div>